.enterpriseDongtai {
  padding: 1.25rem 0.9375rem;
}
.herder {
  padding: 0rem 0.9375rem 1.3125rem 0.9375rem;
}
.project img {
  width: 1rem;
  height: 0.875rem;
}
.clientList {
  padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
  /* position: relative; */
}

/* 未选中 */
.changeProject {
  font-size: 0.75rem;
  font-weight: bold;
  color: #4d4d4d;
}
.changeProject .greenline {
  height: 0.1875rem;
  background: green;
  width: 100%;
  box-sizing: border-box;
  margin-top: -0.1875rem;
}
.uncheckedProject {
  font-size: 0.75rem;
  font-weight: 500;
  color: #999999;
}
.ailentContent_img {
  /* background-color: red; */
  width: 15.75rem;
  height: 1.5625rem;
  font-size: 0.625rem;
  font-weight: 400;
  color: #999999;
  /* 超出隐藏 */
  overflow: hidden;
  /* 只有在超出部分的时候才显示 */
  display: -webkit-box; /* safari */
  -webkit-box-orient: vertical; /* safari */
  -webkit-line-clamp: 2; /* safari */
  /* box-sizing: border-box; */ /* ie9+,ff */
}

.ailentTime {
  margin: 0.625rem 0rem 0.875rem 0rem;
}
.clientList_left {
  display: flex;
}

.clientList_img {
  /* background-color: red; */
  /* height: 12px; */
  margin-top: 1.25rem;
  padding-left: calc(4rem - 0.9375rem);
  box-sizing: border-box;
  /* position: relative; */
}
.clientList_img img {
  width: 5.375rem;
  height: 5.375rem;
}

.middle {
  padding: 0px 0.9375rem 1.375rem 0.9375rem;
}
.middle_right img {
  width: 1.0625rem;

  height: 1.0625rem;
}

.middle_button {
  width: 3.875rem;
  height: 1.1875rem;
  border-radius: 0.625rem;
  font-size: 0.625rem;
  background: rgba(0, 0, 0, 0);
  border: 0.0625rem solid #999999;
  border-radius: 0.625rem;
  font-weight: 500;
  color: #999999;
  line-height: 1.25rem;

  margin-left: 0.625rem;
}
.selected {
  color: #3eb5a9;
  background: rgba(0, 0, 0, 0);
  border: 0.0625rem solid #3eb5a9;
}

.ailentName_button {
  width: 3.875rem;
  height: 1.1875rem;
  background: rgba(0, 0, 0, 0);
  border: 0.0625rem solid #999999;
  border-radius: 0.625rem;

  font-size: 0.625rem;
  font-weight: 500;
  color: #4d4d4d;

  margin-left: 0.625rem;
}
