.message_outerBox {
  padding: 1.25rem 0.9375rem;
}
.ailentContent_img {
  font-size: 0.625rem;
  font-weight: 400;
  color: #999999;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ailentTime {
  margin: 0.625rem 0rem 0.875rem 0rem;
}
.clientList_left {
  display: flex;
}

.clientList_img {
  /* background-color: red; */
  /* height: 12px; */
  margin-top: 1.25rem;
  padding-left: calc(4rem - 0.9375rem);
  box-sizing: border-box;
  /* position: relative; */
}
.clientList_img img {
  width: 5.375rem;
  height: 5.375rem;
}
