.messageText_outerBox {
  padding: 1.4375rem 0.9375rem;
}
.clientList {
  padding: 1.25rem 1.625rem 2.25rem 0.9375rem;
}

.clientList_left {
  position: relative;
}
.ailentText::after {
  content: '';
  width: 15.75rem;
  height: 1.5625rem;
}
