/* 公共样式 */

/* 隐藏所有滚动条 */

body::-webkit-scrollbar {
  display: none;
}
/* 在某些浏览器中需要额外的样式 */
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #fff;
  /* height: 100%; */
  /* background-color: #2eb6aa; */
}
/* 背景颜色 */
.backColorGreen {
  background-color: #2eb6aa;
}
.colorGreen {
  color: #2eb6aa;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* 取消下划线 */
  color: black; /* 设置字体颜色为黑色 */
  cursor: pointer; /* 将光标样式设置为手型 */
}

.font_size_18px {
  font-size: 1.15rem;
}
/* 小于等于 */
@media (max-width: 1900px) {
  html {
    font-size: 26px;
  }
  body {
    padding: 0px 11%;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 25px;
  }
  body {
    padding: 0px 0px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 18px;
  }
  body {
    padding: 0px 0px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 16px;
  }
  body {
    padding: 0px 0px;
  }
}
@media (max-width: 370px) {
  /* 小于目标储存时改为上下结构 */
  .flexUpAndDown {
    display: flex;
    flex-direction: column;
  }
  .siftAndclose button {
    width: 100% !important;
  }
  .choose_List_choose {
    width: 100% !important;
  }
}

@media (max-height: 800px) {
  html {
    font-size: 16px;
  }
}
@media (max-height: 500px) {
  html {
    font-size: 10px;
  }
}

/* flex布局 */
.wp {
  width: 100%;
}
.clearbox::after {
  content: '';
  display: block;
  visibility: none;
  width: 0px;
  height: 0px;
  clear: both;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}
.flex_between {
  display: flex;
  justify-content: space-between;
}
.flex_around {
  display: flex;
  justify-content: space-around;
}
.flex_center {
  display: flex;
  justify-content: center;
}
.flex_midden {
  display: flex;
  align-items: center;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}

/* 不换行隐藏超出的内容 */
.hideContent {
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 隐藏超出内容 */
  text-overflow: ellipsis; /* 使用省略号表示被隐藏的内容 */
}

/* 只显示两行文本 */
.onlytwoText {
  /* 超出隐藏 */
  overflow: hidden;
  /* 只有在超出部分的时候才显示 */
  display: -webkit-box; /* safari */
  -webkit-box-orient: vertical; /* safari */
  -webkit-line-clamp: 2; /* safari */
  /* box-sizing: border-box; */ /* ie9+,ff */
}

.whiteBackground {
  /* height: 100vh; */
  background: #ffffff;
  /* box-shadow: 0px 4px 11px 1px rgba(0, 0, 0, 0.07); */
  border-radius: 10px;
  box-sizing: border-box;
}

/* 客户列表 */
.clientList {
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.5); */
  /* box-shadow:0px 10px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1),
    0 0 6px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 1.375rem 1.625rem 1.1875rem 0.9375rem;
  font-size: 0.625rem;
  margin-bottom: 0.625rem;
}
.avatar img {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 5px;
}
.ailentName {
  font-size: 1rem;
  font-weight: bold;
  color: #4d4d4d;
  line-height: 1.25rem;
}
.ailentText {
  margin-left: 0.6875rem;
}
.ailentContent {
  margin-top: 0.9375rem;
}

.ailentContent {
  /* background-color: red; */
  width: 15.75rem;
  /* height: 1.5625rem; */
  font-size: 0.625rem;
  font-weight: 400;
  color: #999999;
  /* line-height: 0.9375rem; */
  position: absolute;
  /* 超出隐藏 */
  overflow: hidden;
  /* 只有在超出部分的时候才显示 */
  display: -webkit-box; /* safari */
  -webkit-box-orient: vertical; /* safari */
  -webkit-line-clamp: 2; /* safari */
  /* box-sizing: border-box; */ /* ie9+,ff */
}
/* 相对定位 */
.position_R {
  position: relative;
}
.position_F {
  position: fixed;
}

/* 页面 */
.winUnder {
  bottom: 0px;
  /* top: 0px; */
  background-color: rgba(255, 255, 255, 0.99);
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1); /* 这里设置阴影效果 */
  padding: 0.6875rem 3.5625rem 1.0625rem 3.5625rem;
  box-sizing: border-box;
}
.projectIcon img {
  width: 1.4375rem;
  height: 1.4375rem;
  /* display: block; */
}
.projectIcon div {
  /* width: 20px; */
  /* height: 10px; */
  font-size: 0.625rem;
  font-weight: 400;
  color: #2d2e32;
  line-height: 0.5625rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* 切换项目的样式 */
.herder {
  padding: 0rem 0.9375rem 1.3125rem 0.9375rem;
}
.project img {
  width: 1rem;
  height: 0.875rem;
}
.clientList {
  padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
  /* position: relative; */
}

/* 选中 */
.changeProject {
  font-size: 0.75rem;
  font-weight: bold;
  color: #4d4d4d;
}
.changeProject .greenline {
  height: 0.1875rem;
  background: green;
  width: 100%;
  box-sizing: border-box;
  margin-top: -0.1875rem;
}

/* 未选中选中 */
.uncheckedProject {
  font-size: 0.75rem;
  font-weight: 500;
  color: #999999;
}

/* 只显示两行文字内容 */
.onlyTwoLines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 分割线 */
.dividingLine {
  width: 100%;
  background-color: black;
  height: 0.0625rem;
  opacity: 0.1;
  margin: 1.25rem 0rem;
}

/* 左右结构发文字排布 */

.leftAndRight_text {
  line-height: 1.25rem;
}
.informationList_left {
  width: 5rem;
  flex: 0 0 5rem;
  /* padding-right: 1.625rem; */

  /* line-height: 1.25rem; */
  font-size: 0.625rem;
  font-weight: 400;
  color: #999999;
}
.informationList_right {
  /* line-height: 1.25rem; */
  font-size: 0.625rem;
  font-weight: 400;
  color: #4d4d4d;
}

.informationList_left_ColorGreen {
  color: #3fb5a9;
}
.informationList_right_ColorGreen {
  color: #3fb5a9;
}
