.trade_outerBox {
  padding: 1.875rem;
}
.above_title {
  font-size: 1rem;
  font-weight: 500;
  color: #4d4d4d;
}

.above_content {
  margin: 0.9375rem 0px;
  font-size: 0.625rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  line-height: 1.25rem;
}
.fileList_left {
  font-size: 0.625rem;
}
.left_file_size {
  margin-left: 0.9375rem;
}
.fileList_right img {
  width: 0.75rem;
  height: 0.875rem;
}
.fileList_right img:last-of-type {
  margin-left: 0.6875rem;
}
.fileList {
  background-color: #f5f5f7;
  padding: 0.675rem 0.6875rem;
  margin-bottom: 0.625rem;
}
.under_updateAndDelete button {
  margin-top: 0.3125rem;
  width: 4.25rem;
  height: 1.5rem;
  background: rgba(63, 181, 169, 0);
  border: 1px solid #3fb5a9;
  border-radius: 0.1875rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #3fb5a9;
}
.leftAndright_tetx {
  flex-wrap: wrap;
}
